---
layout: default
title: About
---

<section id="about-banner" class="banner featured centered grid-middle">
  <div class="col">
    <h3 class="homepage"> About </h3>
    <!-- <h1> Miss Escape Travel <br class="mob-hide"> former travel agent </h1> -->
</div>
</section>


<section class="tall grid">

  <div class="col-8_sm-12 about">
  <!-- <h1> About </h1> -->
  <h3> Hi there! Thanks for stopping by...</h3>

  <p> Here you'll find Travel inspiration and information for all your Solo traveling adventures! I truly believe travel not only opens your mind but also challenges you in a way no other experience can and everyone should have a solo travel adventure at least once in their life (although it's pretty addictive so I'm sure you won't want to stop once you go on that first adventure.) </p>
  <!-- Whether it's a solo trip, getaway with friends or a quick break we've got you covered.  -->

  <p> A little more about me...
      I was born and raised in Sydney, Australia. I'm the eldest of 3 girls and have always been really independant which is probably why I've enjoyed Solo travel so much!</p>

  <p> My passion for travel began when I took my first overseas trip. I was 21 and went to Europe with one of my best friends and did a 14 day 18-35yr group tour and a week in Mykonos and this trip changed me forever (in a great way). Everything was so new and exciting and I remember being over the moon when I saw the Effiel Tower in Paris, I just wanted to soak it all in because I thought I might never get the chance to come here again! Little did I know that trip was the start of a life of travel. </p>

  <p> A year later I moved to London and stayed there for nearly 3 years making the most of being so close to Europe, I scored myself a job working in reservations for a travel company and took as many adventures as I could while there but like they say all good things must come to an end and it was time for me to return home to Australia. I was happy to see my family and friends again but like anyone who has been away on a long trip or lived overseas I wasn't that happy to be home. </p>

  <p> That was until I found myself a job as a travel agent! This was a real turning point in my life, and turned into an amazing career that allowed me to help so many people have travel experiences that changed their lives and being apart of that was something I really loved! </p>

  <p> I spent the last decade working for one of Australia's biggest retail travel companies and worked my way up the corporate ladder into senior leadership roles, having a lot of success along the way but the more I moved up the ranks the more I no longer really enjoyed what I was doing. </p>

  <p> So in 2018 when the company I worked for had a massive restructure I was given a choice of a redundancy or moving into another role I knew I wouldn't love. I saw it as the opportunity I had to take (even though it was a little scary walking away from everything I'd known for the last decade) and took the redundancy. This was the best decision I've ever made! </p>

  <p> So after over 10yrs in the travel industry I'm excited to share all my knowledge, tips, travel stories and advice with you, to hopefully inspire you to take that next adventure! </p>

  <p> Look forward to having you along for the ride! </p>

  <p> Christina xx</p>

  <!-- <ul>
    <li> Apple </li>
    <li> Pineapple </li>
    <li> Cucumber </li>
    <li> Pinacolada </li>
  </ul> -->

  <blockquote> As you move outside your comfort zone, what was once the unknown and frightening becomes your new normal - Robin S.Sharma </blockquote>
  </div>

  <div class="col-4_sm-12 mob-hide sidebar">
    <!-- sidebar section -->

        {% include site-sidebar.html %}

    </div>

</section>


<section class="no-padding">

  {% include instagram.html %}
  <!-- LightWidget WIDGET -->
  <!-- <div class="insta-footer"> -->
   <!-- <h4 class="centered"> Follow my adventures <a href="https://www.instagram.com/christinalyndal">@christinalyndal</a></h4> -->
  <!-- <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/70548634885a5f23936609af6ea84b82.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe> -->
  <!-- </div> -->

</section>
