---
layout: default
title:
---

<section id="intro-banner" class="banner featured centered grid-middle">
  <div class="col">
    <!-- <h1> Miss Escape Travel <br class="mob-hide"> former travel agent </h1> -->
</div>
</section>


<section class="tall grid">

  <div class="col-8_sm-12 about">
  <!-- <h1> About </h1> -->
  <h3> Hey! Thanks for stopping by...</h3>
  <p> My name is Christina and I was born in Sydney Australia. </p>
  <p> Ut eum veniam dicunt virtute, an noster voluptua convenire mei. At sed tollit scaevola, an maiorum repudiare per. Mei epicuri apeirian ne, usu iisque aliquam praesent ad, omnes ullamcorper in pri. Vitae quaeque mea cu. Mei quot laoreet laboramus eu, cu propriae patrioque maiestatis vel. </p>
  <!-- <ul>
    <li> Apple </li>
    <li> Pineapple </li>
    <li> Cucumber </li>
    <li> Pinacolada </li>
  </ul> -->
  <p> Ut eum veniam dicunt virtute, an noster voluptua convenire mei. At sed tollit scaevola, an maiorum repudiare per. Mei epicuri apeirian ne, usu iisque aliquam praesent ad, omnes ullamcorper in pri. Vitae quaeque mea cu. Mei quot laoreet laboramus eu, cu propriae patrioque maiestatis vel. </p>
  <blockquote> Ut eum veniam dicunt virtute, an noster voluptua convenire mei. At sed tollit scaevola, an maiorum repudiare per. Mei epicuri apeirian ne, usu iisque aliquam praesent ad, omnes ullamcorper in pri. Vitae quaeque mea cu. Mei quot laoreet laboramus eu, cu propriae patrioque maiestatis vel. </blockquote>
  </div>

  <div class="col-4_sm-12 mob-hide sidebar">
    <!-- sidebar section -->

        {% include site-sidebar.html %}

      <!-- <div>
        <h3> This is a sidebar box </h3>
        <p> You can edit the content of the sidebar box in your post layout. </p>
        <img src="/images/yoga-1.jpg">
      </div>
      <div>
        <p> You could put anything you want in here, like links to your social or featured articles, a newsletter signup, etc </p>
      </div>

        <h3> Categories </h3> -->

        <!-- this will output a list of all the categories on your site -->
        <!-- {% for category in site.categories %} -->
          <!-- <a href="/category/{{category | first }}" class="category"> {{category | first}} </a> -->
        <!-- {% endfor %} -->

    </div>



</section>

<section class="centered" id="register">
  <h2> Be the first to hear about my travel adventures </h2>
   <form id="mailerlite-form" class="grid-center" action="https://formspree.io/tina@instituteofcode.com"
      method="POST">
      <div class="col-3_sm-12">
         <input type="text" name="name" placeholder="Your Name">
      </div>
      <div class="col-3_sm-12">
         <input type="email" name="_replyto" placeholder="Your Email">
      </div>
      <div class="col-3_sm-12">
         <input type="submit" value="Send" class="button">
      </div>
    </form>
</section>

<section class="no-padding">
  <!-- LightWidget WIDGET -->
  <div class="insta-footer">
   <h3 class="centered"> Follow my adventures </h3>
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/70548634885a5f23936609af6ea84b82.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  </div>
  <!-- <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/2f73d0c0268851b9adf833b29686c0c0.html" id="lightwidget_2f73d0c026" name="lightwidget_2f73d0c026"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe> -->
</section>
