---
layout: default
title: Contact
---

<section id="contact-banner" class="banner featured centered grid-middle">
  <div class="col">
    <h3 class="homepage"> Contact </h3>
    <!-- <h1> Miss Escape Travel <br class="mob-hide"> former travel agent </h1> -->
</div>
</section>

<section class=" grid centered">

  <div class="col-8_sm-12 contact">
    <h2> Let's Connect... </h2>
      <p> If you have a travel question, or are a brand looking to work together or just want to say hey! </p>
      <p> Just complete the contact form below with as much details as possible or email me directly hello@christinalyndal.com </p>
  </div>

  <div class="col-4_sm-12 mob-hide sidebar">
    <!-- sidebar section -->

        {% include site-sidebar.html %}

  </div>

</section>

<section class="no-padding">

  {% include instagram.html %}
   <!-- <div class="insta-footer"> -->
    <!-- <h3 class="centered"> Follow my adventures </h3> -->
    <!-- <a href="https://www.instagram.com/christinalyndal/"></a> -->
      <!-- LightWidget WIDGET -->
      <!-- <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/70548634885a5f23936609af6ea84b82.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe> -->

  <!-- </div> -->
</section>
