
<!-- newsletter sign up form -->

<h4> For the latest travel inspo and tips </h4>

<form id="mailerlite-form" class="grid-center" action="https://formspree.io/hello@christinalyndal.com"
    method="POST">
    <div class="col-3_sm-12">
      <input type="text" name="name" placeholder="Your Name">

  </div>
  <div class="col-3_sm-12">
    <input type="email" name="_replyto" placeholder="Your Email">
  </div>
  <div class="col-3_sm-12">
    <input type="submit" value="Send" class="button">
  </div>
</form>
