
<!-- LightWidget WIDGET -->
  <div class="insta-footer">
   <h4 class="centered"> Follow my adventures <a href="https://www.instagram.com/christinalyndal">@christinalyndal</a></h4>
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/70548634885a5f23936609af6ea84b82.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  </div>

  <!-- LightWidget WIDGET -->
  <!-- <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/70548634885a5f23936609af6ea84b82.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe> -->
