
<div class="sidebar padded-2">

  <h6 class="centered"> Check out my travels <a href="https://www.instagram.com/christinalyndal">@christinalyndal</a></h6>

  <!-- <h4> -->
      <!-- <a href="https://www.instagram.com/christinalyndal/" target="_blank"> -->
        <!-- <i class="fab fa-instagram"></i>Check out my insta</a> -->
    <!-- </h4> -->

    <!-- LightWidget WIDGET -->
    <!-- LightWidget WIDGET -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/3fc6126857cc5e329e811f1bdb194210.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

</div>

<div class="sideform">
  <h5 class="centered"> For the latest travel inspo and tips </h5>
  {% include form.html %}
</div>

<div class="centered category">

  <h3> Categories </h3>

  <!-- this will output a list of all the categories on your site -->
  {% for category in site.categories %}
    <a href="/category/{{category | first }}" class="category"> {{category | first}} </a>
  {% endfor %}

</div>
