<footer class="grid centered">

  <!-- Column 1 -->
  <div class="col-12_sm-12 logo">
    <!-- <img class="logo" src="/images/demo-logo.png" alt="Brand Name Here"> -->
    <h2> <a href="/index"> Christina Lyndal </a> </h2>
  </div>

  <div class="col-12_sm-12 slogan">
    <p> Travel inspiration for solo travelers searching for adventure and connection with an interest in photography. </p>
  </div>


  <!-- Column 2 -->
  <div class="col-6_sm-6_xs-12">
    <nav>
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/blog"> Travel </a>
      <!-- <a href="/shop"> Shop </a> -->
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-6_sm-6_xs-12">
    <nav class="social-nav">
      <!-- add your social links here -->
      <!-- <a href="#"> <i class="fa fa-facebook"></i>Facebook </a> -->
       <a href="https://www.instagram.com/christinalyndal/"> <i class="fa fa-instagram"> </i>Instagram
      </a>
      <a href="https://www.pinterest.com.au/christinalyndal/"> <i class="fa fa-pinterest"> </i>Pinterest
     </a>
      <!-- <a href="#"> <i class="fa fa-twitter"></i>Twitter</a> -->
    </nav>
  </div>

</footer>
