<header class="grid-middle">
  <!-- <div class="col-6_sm-12 no-padding logo">
    <h2>
       <a href="/index"> Christina Lyndal </a>
    </h2>
  </div>
  <div class="col-6_sm-12 mob-hide no-padding">
    <nav class="right">
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/blog"> Travel </a>
      <a href="/contact"> Contact </a>
      <!-- <a href="/shop"> Shop </a> -->
    <!-- </nav> -->
  <!-- </div>  -->

  <div class="col-6_sm-12 no-padding logo">
    <h2> <a href="/index"> Christina Lyndal </a> </h2>
  </div>
  <!-- <div class="col-12_sm-12 no padding"> -->
    <!-- <h3> Whatever the question, Travel is always the answer </h3> -->
  <!-- </div> -->

  <div class="col-6_sm-12 mob-hide no-padding">
    <nav class="right">
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/blog"> Travel </a>
      <a href="/contact"> Contact </a>
      <!-- <a href="/shop"> Shop </a> -->
    </nav>
  </div>
</header>
